<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bartender App</title>
  <link rel="stylesheet" text="text/css" href="../../styles/reset.css" />
  <link rel="stylesheet" text="text/css" href="../../styles/base.css" />
  <link rel="stylesheet" text="text/css" href="../../styles/layout.css" />
  <link rel="stylesheet" text="text/css" href="../../styles/modules.css" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>