<header id='header'>
  <nav id='nav'>
    <div class="wrapper">
      <div class="navbar">
        <div class="first"></div>
        <div class="second"></div>
        <div class="third"></div>
      </div>
      <ul class="hidden">
        <li><a href="/home">Home</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/all-recipe-books">Cocktail Cabinets</a></li>
        <li><a href="/about-devs">About</a></li>
        <li><a href="/">Change User</a></li>
      </ul>
    </div>
  </nav>
</header>