<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <div>
      <img class="aboutPictures" src="pictures/KaiAndBailey.jpg">
      <h1>Hello! My name is Kai Mcconnell and I am a software developer. 
        I went to school at Whitman College and got a degree in computer science. 
        I then took a class at Code Fellows to learn javascript and continue my education. 
        I love dogs, games, and running. I am currently looking for a job as a software developer.</h1>
    </div>
    <div>
        <img class="aboutPictures" src="pictures/Bryan.jpg">
        <h1>Hello. My name is Bryan Tran and I am a software developer. I went to Denison University for my education and received a degree in computer science. I found my education to be lacking when applying for jobs, so I seeked further education, thus ending up in Code Fellows. My goal is to work as a front-end web developer. I love anime.</h1>
    </div>
    <div>
        <img class="aboutPictures" src="pictures/KaiAndBailey.jpg">
        <h1>HI I AM SAM</h1>
    </div>
  </main>
</body>

</html>