<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <div>
      HI I AM KAI
    </div>
    <div>
        HI I AM BRYAN
    </div>
    <div>
        HI I AM SAM
    </div>
  </main>
</body>

</html>