<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <div>
      <img class="aboutPictures" src="pictures/KaiAndBailey.jpg">
      <h1>Hello! My name is Kai Mcconnell and I am a software developer.
        I went to school at Whitman College and got a degree in computer science.
        I then took a class at Code Fellows to learn javascript and continue my education.
        I love dogs, games, and running. I am currently looking for a job as a software developer.</h1>
    </div>
    <div>
      <img class="aboutPictures" src="pictures/SamPic.png">
      <h1>My name is Sam Thurman and I am a software developer with 6
        years experience in music production and recording using Ableton,
        Logic pro, and electronic instruments such as Omnisphere and Serum.
        I got started promoting artists for a company called HOF is Better in
        Sacramento and later the DNA lounge in San Francisco, and have been
        promoting and managing artists for over two years since. I have a passion
        for providing creative solutions to problems and love engaging people
        through creative collaboration.</h1>
    </div>
    <div>
      <img class="aboutPictures" src="pictures/KaiAndBailey.jpg">
      <h1>HI I AM BRYAN</h1>
    </div>
  </main>
</body>

</html>