<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main>
    <div><br>
      <h1 class="title">About Us</h1>
     <br><br> <img class="aboutPictures" src="pictures/KaiAndBailey.jpg"><br><br>
      <h1>Hello! My name is Kai Mcconnell and I am a software developer.
        I went to school at Whitman College and got a degree in computer science.
        I then took a class at Code Fellows to learn javascript and continue my education.
        I love dogs, games, and running. I am currently looking for a job as a software developer.</h1>
    </div><br><br>
    <img class="lineBreak" src="/pictures/line.png"><br><br>
    <div>
      <img class="aboutPictures" src="pictures/SamPic.png"><br><br>
      <h1>My name is Sam Thurman and I am a software developer with 6

        years experience in music production and recording using Ableton,
        Logic pro, and electronic instruments such as Omnisphere and Serum.
        I got started promoting artists for a company called HOF is Better in
        Sacramento and later at the DNA lounge in San Francisco, and have been
        promoting and managing artists for over two years since. I have a passion
        for providing creative solutions to problems and love engaging people
        through creative collaboration.</h1>
    </div><br><br>
    <img class="lineBreak" src="/pictures/line.png"><br><br>
    <div>
      <img class="aboutPictures" src="pictures/Bryan.jpg"><br><br>
        <h1>Hello. My name is Bryan Tran and I am a software developer. 
          I went to Denison University for my education and received a 
          degree in computer science. I found my education to be lacking 
          when applying for jobs, so I seeked further education, thus ending 
          up in Code Fellows. My goal is to work as a front-end web developer. 
          I love anime.</h1>
    </div><br><br>
  </main>
</body>

</html>