<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <main>
        Sorry for the problems!
        <form action='/' method='get'>
            <button class="small-button" type="submit">Return to log in</button>
        </form>
    </main>
   
</body>
</html>