<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <main id="home-main">
    <container>
      <div id="greeting">
        <p>Welcome to your bar <%=username%>!</p>
      </div>
      <div id="button-div-home">
        <button class="button" onclick="location.href = 'search';">Go to search</button>
        <button class="button" onclick="location.href = 'all-recipe-books';">Go to recipe books</button>
        <button class="button" onclick="location.href = 'about-devs';">About devs</button>
      </div>
    </container>
  </main>
</body>

</html>