<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <container>
    <div>
      Welcome to your bar <%=username%>!
    </div>
    <div>
      <button onclick="location.href = 'search';">Go to search</button>
      <button onclick="location.href = 'all-recipe-books';">Go to recipe books</button>
      <button onclick="location.href = 'about-devs';">About devs</button>
    </div>
  </container>
</body>

</html>