<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <!-- <%- include('../partials/header') %> -->
  <container>
    <div>
      <button onclick="location.href = 'search/search';">Go to search</button>
    </div>
  </container>
</body>

</html>