<!DOCTYPE html>
<html lang="en">
  <!-- <%- include('../layout/head') %> -->
<body>
  <!-- <%- include('../layout/header') %> -->
  <container>
    <div>
      <button onclick="location.href = 'search/search';">Go to search</button>
    </div>
  </container>
</body>
</html>