<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body id="index-body">
  <main id="index-main">
    <div id="login-form">
      <form action='/login' method='post'>
        <a>Please input your user name</a><br /><br>
        <input id="loginBox" type="text" name="userName" required>
        <button class="small-button" type="submit">Log In</button>
      </form>
    </div>
  </main>
</body>

</html>