<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>
  <container id="home-option-tiles-container">
    <div id="home-option-tiles-div">
      <button class="button-home" onclick="location.href = 'search';">Go to search</button>
      <button class="button-home" onclick="location.href = 'recipe-book';">Go to recipe book</button>
      <button class="button-home" onclick="location.href = 'about-devs';">About devs</button>
    </div>
  </container>
</body>

</html>