<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body>

  <container>
    <div>
      <form action='/login' method='post'>
        <a>Please input your user name</a>
        <input type="text" name="userName" required>
        <button type="submit">Log In</button>
      </form>

    </div>
  </container>
</body>

</html>