<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Search for Drinks</title>
</head>

<body>
  <a>Search by Name</a>
  <form action='/view' method='post'>
    <input type="text" name="search" value="Enter cocktail name" required>
    <button type="submit">Search</button>
  </form>
  <div id="base-selectors">
    <section>
      <a> VODKA </a>
      <form action='/search/cocktails' method='post'>
        <input type="hidden" name="search" value="Vodka" required>
        <button type="submit">Vodka</button>
      </form>
    </section>
    <!-- <section>
      <a href=""> GIN </a>
    </section>
    <section>
      <a href=""> WHISKEY </a>
    </section>
    <section>
      <a href=""> RUM </a>
    </section> -->

  </div>

</body>

</html>