<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <form action='/view' method='post'>
    <a>Search by Cocktail Name</a>
    <input type="text" name="search" required>
    <button type="submit">Search</button>
  </form>
  <div id="base-selectors">
    <p>Search by Base Liquor</p>
    <section class="base-selector-tile">
      <form action='/search/cocktails' method='post'>
        <input type="hidden" name="search" value="Vodka" required>
        <button class="button" type="submit">Vodka</button>
      </form>
    </section>
    <section class="base-selector-tile">
      <form action='/search/cocktails' method='post'>
        <input type="hidden" name="search" value="Gin" required>
        <button class="button" type="submit">Gin</button>
      </form>
    </section>
    <section class="base-selector-tile">
      <form action='/search/cocktails' method='post'>
        <input type="hidden" name="search" value="Whiskey" required>
        <button class="button" type="submit">Whiskey</button>
      </form>
    </section>
    <section class="base-selector-tile">
      <form action='/search/cocktails' method='post'>
        <input type="hidden" name="search" value="Rum" required>
        <button class="button" type="submit">Rum</button>
      </form>
    </section>
    <!-- <section>
      <a href=""> GIN </a>
    </section>
    <section>
      <a href=""> WHISKEY </a>
    </section>
    <section>
      <a href=""> RUM </a>
    </section> -->

  </div>

</body>

</html>