<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <main>
    <div id="search-by-name" >
      <form action='/view' method='post'>
        <div class="tb">
          <div class="td"><input class="searchInput" type="text" name="search" placeholder="Search by Cocktail" required></div>
          <div class="td" id="s-cover">
            <button id="searchButton" type="submit">
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>

      </form>
    </div>

    <div id="base-selectors">
      <section class="base-selector-tile">
        <form action='/search/cocktails' method='post'>
          <input type="hidden" name="search" value="Vodka" required>
          <button class="button" type="submit">Vodka</button>
        </form>
      </section>
      <section class="base-selector-tile">
        <form action='/search/cocktails' method='post'>
          <input type="hidden" name="search" value="Gin" required>
          <button class="button" type="submit">Gin</button>
        </form>
      </section>
      <section class="base-selector-tile">
        <form action='/search/cocktails' method='post'>
          <input type="hidden" name="search" value="Whiskey" required>
          <button class="button" type="submit">Whiskey</button>
        </form>
      </section>
      <section class="base-selector-tile">
        <form action='/search/cocktails' method='post'>
          <input type="hidden" name="search" value="Rum" required>
          <button class="button" type="submit">Rum</button>
        </form>
      </section>
      <section class="base-selector-tile">
        <form action='/search/cocktails' method='post'>
          <input type="hidden" name="search" value="Brandy" required>
          <button class="button" type="submit">Brandy</button>
        </form>
      </section>
      <section class="base-selector-tile">
        <form action='/search/cocktails' method='post'>
          <input type="hidden" name="search" value="Bourbon" required>
          <button class="button" type="submit">Bourbon</button>
        </form>
      </section>

    </div>
  </main>
</body>

</html>