body {
	height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #fff2ef56;
	/* background-image: linear-gradient(to bottom, rgb(255, 251, 251), #5f1600a6 100%); */
	background-attachment: fixed;
	text-align: center;
	/* text-shadow: 0 .05rem .1rem rgba(0,0,0,.5); */
  }

.container {
	height: 1065px;
	display: grid;
	grid-template-columns: 50%;
	grid-template-rows: 1/7;
	grid-auto-flow: row;
  }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font: inherit;
}
