
/* for hamburger menu */
#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(254, 254, 254);
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    text-align: right;
    top: 0;
    width: 20%;
}

#login-form {
    display: flex;
    justify-content: center;
}
#login-form form {
    margin-top: 200px;
    padding: 30px;
    background-color: rgb(72, 72, 72);
    width: 200px;
    height: 200px;
    color: rgb(252, 248, 246);
    font-size: 20pt;
}

/* NAVBAR/HAMBURGER RULES */
#nav ul li a {
    display: block;
    text-decoration: none;
    color: rgb(252, 248, 246);
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-decoration: none;
}
.wrapper{
    position: absolute;
    left: 10%;
    width: 20%;
    height: 200px;
}
.navbar{
    width: 20%;
    height: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.navbar div{
    height: 8px;
    width: 60px;
    background-color: rgb(108, 210, 165);
    position: absolute;
    transition: all 0.5s ease;
}
.navbar .first{
    top: 25px;
    left: 20px;
}

.navbar .second{
    top: 45px;
    left: 20px;
}

.navbar .third{
    top: 65px;
    left: 20px;
}
/* navbar hover */
.navbar:hover .first {
    transform: translateY(20px) rotate(45deg);
    transition: all 0.5s ease;
}

.navbar:hover .second {
    opacity: 0;
    transition: all 0.2s ease;
}

.navbar:hover .third{
    transform: translateY(-20px) rotate(-45deg);
    transition: all 0.5s ease;
}

.navbar:hover{
    border-radius:50%;
    transition: all 0.3s ease;  
}
.wrapper ul {
    height: 0px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper:hover ul {
    visibility: visible;
    background-color: rgb(108, 210, 165);
    width: 150px;
    height: 200px;
    border-radius: 10px;
}

/* HOME */
#greeting p{
    padding-top: 100px;
    font-size: 30pt;
    opacity: 90%;
    color: white;
}

#home-main{
    height: 1000px;
    display: flex;
    justify-content: center;
}

/* BASE SELECTOR TILES */
#base-selectors{
    display: flex;
    margin-top: 20px;
    justify-content: center;  
    flex-direction: column; 
}
.base-selector-tile {
    display: flex;
    justify-content: center;
}

/* button */
.button {
    background-color: rgb(108, 210, 165); 
    border: none;
    color: rgb(252, 248, 246);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 30px;
    position: relative;
  }

/* small button */
.small-button {
    border: none;
    background-color: rgba(108, 210, 165);
    color: rgb(252, 248, 246);
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

/* SEARCH RESULTS */
#search-results img {
    margin-top: 30px;
    width: 35%;
    height: 35%;
    border-radius: 30%;
}
#search-results-title {
    padding-top: 20px;
}

/* view */
img{
    width: 500px;
    border-radius: 30%;
}
main ul {
    margin-top: 15px;
    margin-bottom: 15px;
}
#recipe-book-intro {
    margin: auto;
    border-style: double;
    border-color: rgba(108, 210, 165);
	border-width: 4px;
	border-radius: 5px;
	width: 75%;
}
#recipeBookTitle {
    font-size: 250%;
    font-family: Lobster;
}

#view-page-title {
    font-size: 175%;
}

.ingredientList {
    list-style-type: square;
}

.drop-down {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: large;
    height: 50px;
}

.lineBreak {
    width: 50%;
    filter: invert(100%);
}

.ingredients {
    font-size: 140%;
}

.instructions {
    font-size: 140%;
}

.cocktailTitle {
    font-size: 200%;
    font-family: Lobster;
}

.recipe-buttons {
    display: flex;
    justify-content: center;
}
/* edit form */

.editForm {
    display: flex;
    justify-content: center;
}
textarea, input{
    width: 70%;
    margin-left: 10px;
    position: relative;
}


#button-div-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* SEARCH BAR */

.tb {
    display: table;
    width: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

#search-by-name {
    margin: auto;
    width: 75%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(108, 210, 165), 0 0 0 10px rgba(108, 210, 165);
    transform: scale(0.6);
}
.searchInput[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
    background-color: rgb(255, 255, 255);
}

.searchInput[type="text"]::placeholder
{
    color: rgb(72, 72, 72);
}
#s-cover
{
    width: 1px;
    padding-left: 35px;
}
#searchButton
{
    position: relative;
    display: block;
    background-color: rgb(255, 255, 255);
    width: 84px;
    height: 96px;
    margin-left: -16px;
    margin-right: 10px;
    border-color: transparent;
    cursor: pointer;
}
#s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid rgb(72, 72, 72);
    border-radius: 50%;
    transition: 0.5s ease all;
}
button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}
button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

#s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: rgb(72, 72, 72);
    border-radius: 20px;
}

#s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

#s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: rgb(72, 72, 72);
}

/*Log in page*/
#loginBox {
margin: auto;
width: 100%;
height: 30px;
font-size: large;
}

/* All List Pages */
#recipe-head {
    font-size: 250%;
}
#cabinet {
    width: 30%;
}
.text-input {
    font-size: large;
    width: 50%;
    height: 40px;

/*about the devs */
#about-devs-main img{
    width: 60%;
}
#about-devs-main h4{
    margin: 20px;
    margin-bottom: 40px;

}

#about-devs-title {
    margin-top: 20px;
    margin-bottom: 20px;
}


					/* MEDIA RULES */
@media (max-width: 930px) {
    .small-button {
        padding: 20px 15px;
    }
    
    img {
        width: 90%;
    }
}
